<section class="" style="margin-top: 200px">
  <div class="container row justify-content-center m-auto">
    <div class="col-4">
      <h1 class="mb-5">CRÉATION DE COMPTE</h1>
      <p>Déjà un compte ? <br><a routerLink="/login">Connecte-toi ici</a>.</p>
    </div>
    <div class="col-8">
      <div class="">
        <form (ngSubmit)="addUser()" #registerform="ngForm" method="post" class="bg-connexion">
          <div class="flex-column d-flex justify-content-center align-items-center">
            <input type="text" id="inputFirstname" name="firstname" placeholder="Prénom" class="form-control input_connexion mt-5" [(ngModel)]="user.firstName" required>
            <input type="text" id="inputLastname" name="lastname" placeholder="Nom" class="form-control my-3 input_connexion" [(ngModel)]="user.lastName" required>
            <input type="email" id="inputEmail" name="email" placeholder="Email" class="form-control my-3 input_connexion" [(ngModel)]="user.email" required>
            <input type="password" id="inputPassword" name="password" placeholder="Mot de passe" class="form-control my-3 input_connexion" [(ngModel)]="user.password" required>
          </div>
          <div class="text-end m-auto pb-3 d-flex justify-content-between" style="width: 80%">
            <h3 *ngIf="error" class="text-danger fs-6">{{error}}</h3>
            <button id="btn-register" class="" type="submit" [disabled]="!registerform.valid">Soumettre</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
