.product-details {
  margin-top: 40px;

  /* Conteneur de l'image principale */
  .main-image-container {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .main-image {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  /* Informations produit */
  .product-info {
    padding: 20px;

    .product-title {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 16px;
      color: #333;
    }

    .product-price {
      font-size: 1.5rem;
      font-weight: bold;
      color: #28a745;
      margin-bottom: 16px;
    }

    .product-description {
      font-size: 1rem;
      color: #666;
      margin-bottom: 20px;
    }

    .product-stock {
      font-size: 1rem;
      margin-bottom: 20px;

      .text-danger {
        font-weight: bold;
      }
    }

    .btn-success {
      font-size: 1rem;
      padding: 10px 20px;
      border-radius: 8px;
      transition: background-color 0.3s ease, transform 0.2s ease;

      &:hover {
        background-color: #218838;
        transform: scale(1.05);
      }

      &:disabled {
        background-color: #c3e6cb;
        cursor: not-allowed;
      }
    }
  }

  /* Autres images */
  .other-image {
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 5px;
    transition: transform 0.2s ease;

    width: 100%;
    height: 100%;

    &:hover {
      transform: scale(1.05);
      border-color: #007bff;
    }
  }
}


.text-info {
  color: #1b6d9d !important;
  font-weight: bold;
}
