<h2 mat-dialog-title>Detail du panier</h2>
<mat-dialog-content>
  <div class="row">
    <div class="col-md-6">
      <h6>Récapitulatif</h6>
      <p>Total: {{ order?.totalPrice | currency }}</p>
      <p>État: {{ order?.paymentStatus }}</p>
    </div>
    <div class="col-md-6">
      <h6>Articles</h6>
      <ul class="list-group">
        <li *ngFor="let item of order?.items" class="list-group-item">
          {{ item.product?.name }} - {{ item.quantity }} x {{ item.product?.price | currency }}
        </li>
      </ul>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>
