<footer class="bg-dark text-white py-4 mt-5">
  <div class="container">
    <div class="row">
      <!-- Logo -->
      <div class="col-md-4 mb-3">
        <img src="assets/logo_white.svg" alt="GraphicPix" height="57">
      </div>

      <!-- Liens légaux -->
      <div class="col-md-4 mb-3">
        <ul class="list-unstyled">
          <li class="mb-2">
            <a routerLink="/conditions" class="text-white text-decoration-none">
              Conditions générales de vente
            </a>
          </li>
          <li class="mb-2">
            <a routerLink="/mentions-legales" class="text-white text-decoration-none">
              Mentions Légales
            </a>
          </li>
        </ul>
      </div>

      <!-- Mon compte -->
      <div class="col-md-4 mb-3">

        <ul class="list-unstyled">
          <li>
            Mon compte
          </li>
        </ul>
      </div>
    </div>

    <!-- Texte du bas -->
    <div class="row mt-2 text-under">
      <div class="col-12 text-center">
        <p class=" mb-2">Un univers d'images pour tous vos projets.</p>
        <p class="small">
          © 2024 GraphicPix. Tous droits réservés.
        </p>
      </div>
    </div>
  </div>
</footer>
