<div class="container gallery-container">
  <h1 class="gallery-title">Galerie</h1>
  <!-- Catégories -->
  <div class="categories">
    <button class="btn btn-light category">
      category
    </button>
  </div>

  <!-- Grille des images -->
  <div class="row gallery-grid">
    <div
      class="gallery-item"
      style="padding: 0;"
      *ngFor="let product of products | limitTo:48">
      <div class="image-wrapper">
        <div class="image-btn" (click)="navigateToProduct(product.id)">
          <img
            [src]="product.imageUrl"
            [alt]="product.name"
            class="gallery-image"
          />
          <div class="overlay">
            <svg width="46" height="46" fill="white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 14.25a2.25 2.25 0 1 0 0-4.5 2.25 2.25 0 0 0 0 4.5Z"></path>
              <path d="M12 21.75a2.25 2.25 0 1 0 0-4.5 2.25 2.25 0 0 0 0 4.5Z"></path>
              <path d="M12 6.75a2.25 2.25 0 1 0 0-4.5 2.25 2.25 0 0 0 0 4.5Z"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
