<section class="" style="margin-top: 200px">
  <div class="container row justify-content-center  m-auto">
    <div class="col-4">
      <h1 class="mb-5">CONNEXION</h1>
      <p>Nouveaux sur GraphiPix ? <br><a routerLink="/register">Crée toi un compte ici</a>.</p>
    </div>
    <div class="col-8">
      <div class="">
        <form (ngSubmit)="connectUser()" #loginform="ngForm" method="post" class="bg-connexion">
          <div class="flex-column d-flex justify-content-center align-items-center">
            <input  type="text" id="inputEmail" name="email" placeholder="Email" class="form-control input_connexion mt-5" [(ngModel)]="authRequest.email" required>
            <input type="password" id="inputPassword" name="password" placeholder="Mot de passe" class="form-control my-3 input_connexion" [(ngModel)]="authRequest.password" required>
          </div>
          <div class="text-end m-auto pb-3 d-flex justify-content-between" style="width: 80%">
            <h3 *ngIf="error" class="text-danger fs-6">Les identifant ne sont pas bon !</h3>
            <button id="btn-connect" class="" type="submit">Continuer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
