<div class="container my-5">


  <div>

    <svg class="log-out" (click)="logOut()" width="46" height="46" fill="none" stroke="#000000" stroke-linecap="round"
         stroke-linejoin="round"
         stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M14.25 15.75v1.875a1.875 1.875 0 0 1-1.875 1.875h-7.5A1.875 1.875 0 0 1 3 17.625V6.375A1.875 1.875 0 0 1 4.875 4.5H12c1.036 0 2.25.84 2.25 1.875V8.25"></path>
      <path d="M17.25 15.75 21 12l-3.75-3.75"></path>
      <path d="M8.25 12h12"></path>
    </svg>

    <p class="log-out" (click)="logOut()">Déconnexion</p>

  </div>


  <h1 class="mb-4" *ngIf="user">Mon Compte</h1>

  <div class="card" *ngIf="user">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p class="font-weight-bold">Nom:</p>
          <p>{{ user.firstName }} {{ user.lastName }}</p>
        </div>
        <div class="col-md-6">
          <p class="font-weight-bold">Email:</p>
          <p>{{ user.email }}</p>
        </div>
      </div>
    </div>
  </div>

  <div style="padding-left: 0" class="container my-5">
    <h2 class="mb-4">Mes Commandes</h2>

    <div *ngFor="let order of user.orders" class="card mb-4">
      <div class="card-header">
        <h5>Commande #{{ order.id }}</h5>
        <p class="mb-0">Passée le {{ order.orderDate | date:'dd/MM/yyyy' }}</p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h6>Récapitulatif</h6>
            <p>Total: {{ order.totalPrice | currency: 'EUR' }}</p>
            <p>État: {{ order.paymentStatus }}</p>
          </div>
          <div class="col-md-6">
            <h6>Détails</h6>
            <p>Items: {{ order.items?.length }}</p>
            <button mat-raised-button (click)="openDialog(order, '0ms', '0ms')">Voir le détail</button>
            <ng-template #orderDetailsDialog>
              <h2 mat-dialog-title>Détail du panier</h2>
              <mat-dialog-content>
                <div class="row">
                  <div class="col-md-6">
                    <h6>Récapitulatif</h6>
                    <p>Total: {{ selectedOrder?.totalPrice | currency: 'EUR' }}</p>
                    <p>État: {{ selectedOrder?.paymentStatus }}</p>
                  </div>
                  <div class="col-md-6">
                    <h6>Articles</h6>
                    <ul class="list-group">
                      <li *ngFor="let item of selectedOrder?.items" class="list-group-item">
                        {{ item.product?.name }} - {{ item.product?.price | currency:'EUR' }}
                      </li>
                    </ul>
                  </div>
                </div>
              </mat-dialog-content>
              <mat-dialog-actions>
                <button mat-button mat-dialog-close>Fermer</button>
              </mat-dialog-actions>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
