
<div class="container my-5">
  <h1 class="mb-4" *ngIf="user">Mon Compte</h1>

  <div class="card" *ngIf="user">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p class="font-weight-bold">Nom:</p>
          <p>{{ user.firstName }} {{ user.lastName }}</p>
        </div>
        <div class="col-md-6">
          <p class="font-weight-bold">Email:</p>
          <p>{{ user.email }}</p>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary">Modifier mon profil</button>
      </div>
    </div>
  </div>

  <div class="container my-5">
    <h2 class="mb-4">Mes Commandes</h2>

    <div *ngFor="let order of user.orders" class="card mb-4">
      <div class="card-header">
        <h5>Commande #{{ order.id }}</h5>
        <p class="mb-0">Passée le {{ order.orderDate | date:'dd/MM/yyyy' }}</p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h6>Récapitulatif</h6>
            <p>Total: {{ order.totalPrice | currency }}</p>
            <p>État: {{ order.paymentStatus }}</p>
          </div>
          <div class="col-md-6">
            <h6>Détails</h6>
            <p>Items: {{ order.items?.length }}</p>
            <button mat-raised-button (click)="openDialog('0ms', '0ms')">Open dialog without animation</button>
            <ng-template #orderDetailsDialog>


            <h2 mat-dialog-title>Detail du panier</h2>
            <mat-dialog-content>
              <div class="row">
                <div class="col-md-6">
                  <h6>Récapitulatif</h6>
                  <p>Total: {{ order?.totalPrice | currency }}</p>
                  <p>État: {{ order?.paymentStatus }}</p>
                </div>
                <div class="col-md-6">
                  <h6>Articles</h6>
                  <ul class="list-group">
                    <li *ngFor="let item of order?.items" class="list-group-item">
                      {{ item.product?.name }} - {{ item.quantity }} x {{ item.product?.price | currency }}
                    </li>
                  </ul>
                </div>
              </div>
            </mat-dialog-content>
            <mat-dialog-actions>
              <button mat-button mat-dialog-close>Fermer</button>
            </mat-dialog-actions>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
